div.estation-chart {
    height: 300px;
}

#estation-legend tr{
    background-color: initial !important;
    pointer-events: none !important;
    text-align: center;
}

#estation-legend table th {
    background-color: transparent  !important;
}

#estation-legend > table {
    background-color: transparent  !important;
}