{% for key, value in eStationCards %}

    {% if card.name == key %}
        <div class="card mb-3 bg-gray-1200">
            <div class="card-body">
                <h5 class="estation-card-title card-title d-flex justify-content-between" id="card-title-{{ value.title|raw|replace({' ': ''}) }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ value.title|raw|replace({' ': ''}) }}" aria-expanded="false" aria-controls="collapse{{ value.title|raw|replace({' ': ''}) }}"><div class="inner-card-title">{{ value.title|raw }}</div><div class="data-collapsed"><i class="fas fa-toggle-off"></i></div><div class="data-expanded"><i class="fas fa-toggle-on"></i></div></h5> 
                <div class="card-text">
                    {{ value.description|raw }}
                    <br>
                    <div class="collapse estation-data-card" id="collapse{{ value.title|raw|replace({' ': ''}) }}"> 

                        <div class="estation-results d-flex"></div>
                        <div id="estation-{{ value.title|raw }}-chart" class="estation-chart"></div>
                        <div id="estation-description"></div>
                        <div id="estation-legend"></div>
                    </div>
                    <div class="info-icon float-right pt-2">
                        <a href="https://estation.jrc.ec.europa.eu/" target="_blank" class="btn btn-sm btn-secondary p-0" style="--bs-btn-border-radius: 50%;" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" aria-label="Product Source: eStation" data-bs-original-title="Product Source: eStation"> 
                            <i class="fa-solid fa-info w-100 h-100"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div> 
    {% endif %}

{% endfor %}
